.weatherSituation {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.cityName {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
}

.date {
    margin: 0;
    font-size: 15px;
}

.degree {
    font-size: 50px;
    margin: 0;
    margin-right: 10px;
}

.center {
    margin: auto 0;
}

@media (min-width: 900px) {
    .weatherSituation {
        margin: 0;
        max-width: 60%;
        width: 30%;
    }
    .cityName {
        font-size: 40px;
    }
    .degree {
        font-size: 100px;
    }
    .date {
        font-size: 18px;
    }
}