.weather__details {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-bottom: 20px;
}

.tableDiv {
    height: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* margin-left: 10%; */
}

@media (min-width: 900px) {
    .weather__details {
        margin-bottom: 0;
    }
}