.localStorage {
    display: block;
    /* width: 10%; */
    background: none;
    text-align: left;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: white;
    outline: none;
    margin: 0;
}

.localContainer {
    width: 80%;
    height: 20%;
    padding: 0;
    margin: 60px auto 30px auto;
}

.lengthTwo button {
    margin-bottom: 20px;
}

.lengthMore {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media only screen and (min-width: 900px) {
    .localContainer {
        margin-top: 10px;
    }
}

@media (min-width: 800px) and (min-height: 800px) {
    .localContainer {
        margin-top: -20vh;
    }
}